.high-score{
    background: red;
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
}

.game-board{
    background: blue;
    width: 75%;
    height: 100%;
    float: right;
    text-align: center;
    flex: auto;
    display: flex;
}

.qna{
    background: white;
    width: 500px;
    height: 500px;
    padding: 200px,0,0,0;
    text-align: center; 
    margin: 190px 0 0 0;
}
.answerli{
    background: darkred;
    border: solid 5px;
    padding:10px;
}
.timer{
    float: right;
}