body{
    height: 100%;
    margin: 0;
    background: darkred;
    
}
.high-score{
    background: darkred;
    
    height: 100%;
    width: 25%;
    text-align: center;
    
    left: 0;
}

.game-board{
    background: darkred;
    width: 75%;
    height: 100%;
   
    text-align: center;
    
    

}

.qna{
    background: darkred;
    width: 500px;
    height: 500px;
    padding: 200px,0,0,0;
    text-align: center; 
    margin: 190px 0 0 325px;
}
.answerli{
    background: darkred;
    border: solid 5px;
    padding:10px;
    border-radius: 25px;
}
.timer{
    float: right;
}
.answerli:hover {
    background: black;
    color: darkred;
    border-radius: 25px;
}

.Row {
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px;
}
.Column {
    display: table-cell;
}
.qnaT{
    color: white;
}
    